# Zeppelin notebook to get top N most rated movies

## Description

It's a zeppelin notebook to determine the top N most rated movies (by average rating) for each specified genre. It allows to set filters for the search: genres, regular expression, years from and to, as well as a number, showing how many movies of each genre to display. At the same time, it sorts movies by genre and average ratings; in case of the same rating then sort by year and title. There is a paragraph to enter arguments for filtering movies. 

## Installation
#### Requirements 
It requires [Python](https://www.python.org/downloads/)  v3+ to run, Docker and Bash.
To install Zeppelin run command:
```
docker run -p 8080:8080 -v /tmp:/tmp --name zeppelin apache/zeppelin:0.9.0
```
Then it will start Zeppelin on port 8080.

In [1]:
%pyspark

# for overwriting 
spark.conf.set("spark.sql.legacy.allowCreatingManagedTableUsingNonemptyLocation", "true")

### Download and unpack MovieLens files

On next paragraph will be downloaded ml-latest-small Dataset from [MovieLens](https://grouplens.org/datasets/movielens/) web site, unpacked movies.csv and ratings.csv into /tmp/Datasets folder.

In [3]:
%sh 

if [ -e /tmp/Datasets/ml-latest-small/ratings.csv -a -e /tmp/Datasets/ml-latest-small/movies.csv ]; then 
	echo "Files csv exists."
elif [ -e /tmp/ml-latest-small.zip ]; then 
	unzip /tmp/ml-latest-small.zip \ml-latest-small/ratings.csv \ml-latest-small/movies.csv -d /tmp/Datasets 
	rm /tmp/ml-latest-small.zip
else 
	wget -P /tmp https://files.grouplens.org/datasets/movielens/ml-latest-small.zip 
	unzip /tmp/ml-latest-small.zip \ml-latest-small/ratings.csv \ml-latest-small/movies.csv -d /tmp/Datasets 
	rm /tmp/ml-latest-small.zip
fi

### Put csv files into hdfs

In [5]:
%sh

hdfs dfs -mkdir -p /tmp/Datasets/ml-latest-small

hdfs dfs -mkdir -p /tmp/Output

hdfs dfs -put -f /tmp/Datasets/ml-latest-small/movies.csv /tmp/Datasets/ml-latest-small/

hdfs dfs -put -f /tmp/Datasets/ml-latest-small/ratings.csv /tmp/Datasets/ml-latest-small/

## Local mode

Create table of movies and ratings from csv files localy

## HDFS mode
Create table of movies and ratings from hdfs file

In [8]:
%sql

CREATE TABLE IF NOT EXISTS staging_movies( 
                                            movieId INT, 
                                            title STRING,
                                            genres STRING
                                          )
USING CSV
OPTIONS (
            header = true,
            delimiter = ',',
            encoding = 'utf-8',
            path = "///tmp/Datasets/ml-latest-small/movies.csv" 
        )

In [9]:
%sql

CREATE TABLE IF NOT EXISTS staging_movies( 
                                            movieId INT, 
                                            title STRING,
                                            genres STRING
                                          )
USING CSV
OPTIONS (
            header = true,
            delimiter = ',',
            encoding = 'utf-8',
            path = "hdfs:///tmp/Datasets/ml-latest-small/movies.csv" 
        )

 
## Get filtered movies table

This paragraph parse lines from table which contain data from csv and insert it into new table, where will be movieId, genre, title and year columns. Also its filters this data.

In [11]:
%sql

DROP TABLE IF EXISTS filtered_movies;
CREATE TABLE IF NOT EXISTS filtered_movies (movieId INT, genre STRING, title STRING, year INT)
USING CSV;

WITH parsed_movies 
AS
(
    SELECT  movieId,
            EXPLODE(SPLIT(genres, "[|]")) AS genre,
            REGEXP_EXTRACT(title, "(.+)[ ]+[(](\\d{4})[)]", 1) AS title,
            REGEXP_EXTRACT(title, "(.+)[ ]+[(](\\d{4})[)]", 2) AS year
    FROM staging_movies
),
arg_genres 
AS
(
    SELECT EXPLODE(SPLIT('Thriller|War|Crime|Fantasy', "[|]")) AS arg_genre 
),
result_movies
AS
(
    SELECT pm.movieId, 
           pm.genre, 
           pm.title, 
           pm.year    
    FROM parsed_movies AS pm
    CROSS JOIN arg_genres AS ag
        ON (pm.genre = ag.arg_genre)      
    WHERE 
    	((ISNULL(1970)) OR (pm.year >= 1970)) 
    	AND ((ISNULL(2010)) OR (pm.year <= 2010)) 
        AND (('%God%' == '') OR (ISNULL('%God%')) OR LIKE(pm.title, '%God%')) 
)
INSERT INTO filtered_movies
    SELECT rm.movieId,
           rm.genre,
           rm.title,
           rm.year
    FROM result_movies AS rm

## Local mode

## HDFS mode

In [14]:
%sql

CREATE TABLE IF NOT EXISTS staging_ratings( 
                                            userId INT,
                                            movieId INT, 
                                            rating FLOAT,
                                            timestamp FLOAT
                                          )
USING CSV
OPTIONS (
            header = true,
            delimiter = ',',
            encoding = 'utf-8',
            path = "///tmp/Datasets/ml-latest-small/ratings.csv"
        )

In [15]:
%sql

CREATE TABLE IF NOT EXISTS staging_ratings( 
                                            userId INT,
                                            movieId INT, 
                                            rating FLOAT,
                                            timestamp FLOAT
                                          )
USING CSV
OPTIONS (
            header = true,
            delimiter = ',',
            encoding = 'utf-8',
            path = "hdfs:///tmp/Datasets/ml-latest-small/ratings.csv"
        )

## Get result table of movies with retings

This paragraph create table whicth joines two tables (table of average rating + filtered movies), then it sorts data in necessary order and inserts it into result table with N-counted distinct genres.

In [17]:
%sql

DROP TABLE IF EXISTS movies_with_ratings;
CREATE TABLE IF NOT EXISTS movies_with_ratings (genre STRING, title STRING, year INT, rating FLOAT)
USING CSV;

WITH filtered_ratings
AS
(
    SELECT sr.movieId,
           sr.rating
    FROM staging_ratings AS sr
    JOIN filtered_movies AS fm
        ON (sr.movieId = fm.movieId)
),
average_ratings
AS
(
    SELECT movieId,
           ROUND(AVG(rating), 3) AS rating
    FROM filtered_ratings
    GROUP BY movieId
),
movies_with_avg_ratings
AS
(
    SELECT fm.genre,
           fm.title,
           fm.year,
           ar.rating
    FROM filtered_movies AS fm
    JOIN average_ratings AS ar
        ON (fm.movieId = ar.movieId)
),
rowed_movies 
AS 
(
	SELECT *, ROW_NUMBER() OVER(PARTITION BY movies_with_avg_ratings.genre ORDER BY movies_with_avg_ratings.rating DESC, 
	                                                                                movies_with_avg_ratings.year DESC, 
	                                                                                movies_with_avg_ratings.title) rn
	FROM movies_with_avg_ratings
)
INSERT INTO movies_with_ratings
    SELECT genre,
        title,
        year,
        rating
    FROM rowed_movies
    WHERE (rn <= 5)

## Local mode output

## HDFS mode output

In [20]:
%sql

DROP TABLE IF EXISTS output_list;

CREATE TABLE IF NOT EXISTS output_list
USING CSV
LOCATION "///tmp/Output/"
AS
(
    SELECT  genre,
            title,
            year,
            rating
    FROM movies_with_ratings
    ORDER BY genre, rating DESC, year DESC, title
)

In [21]:
%sql

DROP TABLE IF EXISTS output_list;

CREATE TABLE IF NOT EXISTS output_list
USING CSV
LOCATION "hdfs:///tmp/Output/"
AS
(
    SELECT  genre,
            title,
            year,
            rating
    FROM movies_with_ratings
    ORDER BY genre, rating DESC, year DESC, title
)

 
## Local mode cat result

## HDFS mode cat result

In [24]:
%sh
echo 'genre, title, year, rating'
cat /tmp/Output/*

In [25]:
%sh
echo 'genre, title, year, rating'
hdfs dfs -cat /tmp/Output/*